/*==========
    GLOBAL
  ==========*/
*,
*::before,
*::after {
    box-sizing: border-box;
}


:root {
    overflow-x: hidden;
    
    --main-text: #090934;
    --ltGrn: #D4F7EC;
    --grn: #448D76;
    --ltBlu: #1258DC;
    --blu: #2E2FE3;
    
    --posAbs: absolute;
    
    --cntr: translate(-50%, -50%);
}


body {
    margin: 0;
    background-color: var(--ltGrn);
    color: var(--main-text);
    width: 100%;
}

/* set positions */

.navi {
    position: fixed;
}

.header,
.main,
.footer {
    position: relative;
}

@media ( orientation : portrait ) {
    
    .header,
    .main,
    .footer {
        top: 160px;
    }
    
}


.disp_flex {
    display: flex;
}

/* page height and widths */

.page_hw1 {
    width: 100%;
    max-width: 900px;
    height: 100vh;
}

.page_hw2 {
    width: 100%;
    max-width: 900px;
    height: 200vh;
}


/*@media ( orientation : landscape ) {
    
    .page_hw1 {
        height: 125vh;
    }
    
    .page_hw2 {
        height 250vh;
    }
    
} */
/* images */

.tile-img {
    display: block;
    margin: 1em;
    padding: .25em;
    width: 90%;
    max-width: 200px;
}

@media screen
and ( orientation : landscape )
and ( min-width : 600px ) {
    
    .tile-img {
        max-width: 300px;
    }
    
}
.tile-img {
    border: 2px solid var(--ltGrn);
}
/*@media ( min-width : 800px ) {
    
    .tile-img {
        min-width: 250px; 
    }
}*/

.titles {
    width: max-content; 
}
/*==========
  TYPOGRAPHY
  ==========*/

body {
    font-family: 'Quattrocento Sans', sans-serif;
    width: 100%;
}

/* heading */

.title-header {
    text-align: center;
    font-weight: 500;
    font-size: 3.8rem;
    line-height: normal;
    color: var(--blu);
    text-shadow: .5px 3px 5px var(--blu);
}


.title-subheader {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 1.8rem;
    line-height: normal;
    text-shadow: 0 1.5px 2px var(--main-text);
}

[ class ^= "tile_" ] {
    color: aliceblue;
    -webkit-transition: color .5s linear .1s;
    -moz-transition: color .5s linear .1s;
    transition: color .5s linear .1s;
}

[ class ^= "tile_" ]:hover {
    color: var(--blu);
}

/* links general */
li a {
    text-decoration: none;
    margin-left : 1em;
}

ul {
    list-style-type: none;
    padding: 0;
}


.contact-link,
.btm-navi-link {
    font-size: 1.4rem;
}

/* navi menu (top) */

.navi {
    font-size: 1vw;
}

.navi-list {
    text-align: center;
}

.navi-link {
    font-size: 2rem;
    font-size: calc(1rem + 3vw);
    color: aliceblue;
    -webkit-transition: color .5s linear .1s;
    -moz-transition: color .5s linear .1s;
    transition: color .5s linear .1s;
}

.navi-link:hover {
    color: var(--blu);
}

@media screen and ( min-width : 18.75rem ) {
    
    .navi-link {
        font-size: calc( 2rem + 1rem * ((100vw - 18.75rem) / 43.75rem) );  
    }
    
}

@media screen and ( min-width : 62.5rem ) {
    
    .navi-link {
        font-size: 3rem;
    }
    
}

/* main */

.project-tile-header {
    text-align: center;
}

/*==========
    LAYOUT
  ==========*/

/* menu (top) */

/* navi position fix see global */

.navi {
    top: 0;
    width: 100%;
    height: auto;
    margin: 0;
    z-index: 1;
    
}

.navi-list {
    flex-direction: column;
    align-items: center;
    width: max-content;
    margin: 0 auto;
    padding: 0;
}

.navi-link {
    margin: 2em auto;
}

@media ( min-width: 600px ) {
    
    .navi-list {
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        padding-right: .5em;
    }
    
    .navi-link {
        padding-left: .8em;
    }
}

.navi {
    background: var(--grn);
    -webkit-box-shadow: 0 1px 4px var(--grn);
    -moz-box-shadow: 0 1px 4px var(--grn);
    box-shadow: 0 1px 4px var(--grn);
    box-sizing: border-box;
}


/* <header>*/

/* header, main, footer position relative see global*/

header .titles {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: var(--cntr);
    -moz-transform: var(--cntr);
    -ms-transform: var(--cntr);
    -o-transform: var(--cntr);
    transform: var(--cntr);
    width: max-content;
    height: content;
}

@media ( orientation : landscape ) {
    
    header .titles {
        left: 50vmax;
        transform: var(--cntr);
    }
}


/* <main> */
.project-section {
    position: absolute;
    top: 0;
    border: 2px solid white;
    width: 100%;
    height: 100%;
}

.project-title-parent {
    position: relative;
    width: 100%;
    border: 2px solid blue;
    top: -0.3em;
    margin: 0;
    padding: 0;
}

main .titles {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: var(--cntr);
    -moz-transform: var(--cntr);
    -ms-transform: var(--cntr);
    -o-transform: var(--cntr);
    transform: var(--cntr);
    width: max-content;
    height: content;
}

@media ( orientation : landscape ) {
    
    main .titles {
        left: 50vmax;
        -webkit-transform: var(--cntr);
        -moz-transform: var(--cntr);
        -ms-transform: var(--cntr);
        -o-transform: var(--cntr);
        transform: var(--cntr);
    }   
    
}

.parent {
    position: inherit;
}

/*.tile-container {
    position: absolute;
    width: 100%;
    max-width: 200px;
    top: calc(50% + 10vh);
    left: 50%;
    transform: translate(-50%, -50%);
    
}*/

.tile-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: var(--cntr);
    -moz-transform: var(--cntr);
    -ms-transform: var(--cntr);
    -o-transform: var(--cntr);
    transform: var(--cntr);
    width: 100%;
    border: 2px solid green;
    max-width: 1000px;
}


@media ( orientation : landscape ) {
    
    .tile-container {
        left: 50vmax;
        -webkit-transform: var(--cntr);
        -moz-transform: var(--cntr);
        -ms-transform: var(--cntr);
        -o-transform: var(--cntr);
        transform: var(--cntr);  
    }
    
    [ class *= "tile_" ] {
        width: 100%;
    }

}

.main {
    border: 3px solid red;
}

/* grid */

.tile-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-gap: 1em;
    max-height: 100vh;
}



@media screen
    and (orientation : portrait)
    and ( min-height : 375px) {
        
        .tile-container {
            grid-template-columns : 1fr;
        }
    
}

.sub-container {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.sub-child-1 {
    margin-top: 0;
    order: 2;
}

.sub-child-2 {
    margin-bottom: 0;
}

[ class *= "sub-child-" ] {
    flex: 1 auto 70%;
}

/* aesthetic */

[ class ^= "tile_" ] {
    border: 5px solid #53ac90;
    border-style: solid dashed;
    border-radius: 2px;  
}



[ class ^= "sub-child" ] {
    background-color: #53ac90;
    margin: 2px;
}


/* contact */
.contact-parent {
    position: absolute;
    top: 0;

}

.contact-children {
    position: inherit;
    width: max-content; 
    top: 50%;
    left: 50%;
    -webkit-transform: var(--cntr);
    -moz-transform: var(--cntr);
    -ms-transform: var(--cntr);
    -o-transform: var(--cntr);
    transform: var(--cntr);
} 

@media ( orientation : landscape ) {
    
    .contact-children {
        left: 50vmax;
        -webkit-transform: var(--cntr);
        -moz-transform: var(--cntr);
        -ms-transform: var(--cntr);
        -o-transform: var(--cntr);
        transform: var(--cntr);
    }
    
}

.profile-list {
    width: 100%;
    justify-content: space-between;  
}

.contact-link {
    margin-left: 0;
}
/* bottom */

.parent-btm {
    position: absolute;
    width: 100vw;
    bottom: 0;
    justify-content: space-between;
}

.disclaimer {
    margin-bottom: 0;
}

.btm-navi-list {
    margin-bottom: 0;
    padding-right: 1em;
}

.btm-navi-link {
    align-self: flex-end;
}

/*==========
  Animations
  ==========*/

.shdwFX_tile {
    position: relative;
    -webkit-box-shadow: 0 1px 2px var(--grn);
    -moz-box-shadow: 0 1px 2px var(--grn);
    box-shadow: 0 1px 2px var(--grn);
    border-radius: 2px;
    transition: all .5s ease-in-out;
}

.shdwFX_tile::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #11221d;
    /*border-radius: 2px;*/
    opacity: 0;
    transition: all .5s linear;
    box-shadow: 0px 10px 15px #11221d;
}

.shdwFX_tile::after {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 5px 15px var(--grn), 0px 10px 15px #11221d;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    opacity: 0;
    background-color: rgba(17, 34, 29, 0.5) ;
    transition: all .5s linear .2s;
} 

.overlay::after {
    display: block;
    content: "codepen.io";
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Quattrocento Sans', sans-serif;
    color: aliceblue;
    font-size: calc(1rem + 1vw);
    font-weight: bolder;
    opacity: .9;    
}

.shdwFX_tile:hover {
    transform: scale(1.25, 1.25);
    z-index: 1;
}

.fa-codepen {
    display: block;
    position: absolute;
    top: 50%; 
    left: 50%;
    font-size: calc(10rem + 4vw);
    font-weight: lighter;
    color: aliceblue;
    text-align: center;
    opacity: .9;
    transform: translate(-50%, -50%);
}


.shdwFX_tile:hover::before {
    opacity: .5;
}

.overlay:hover ,.shdwFX_tile:hover::after {
    opacity: 1;
}

.tile-link {
    z-index: 1;
}