/*==========
    GLOBAL
  ==========*/
*,
*::before,
*::after {
    box-sizing: border-box;
}


:root {
    --main-text: #090934;
    --ltGrn: #D4F7EC;
    --grn: #448D76;
    --ltBlu: #1258DC;
    --blu: #2E2FE3;
    
    --posAbs: absolute;
}


body {
    margin: 0;
    background-color: var(--ltGrn);
    color: var(--main-text);
    width: 100%;
}

/* set positions */

.navi {
    position: fixed;
}

.header,
.main,
.footer {
    position: relative;
}

.disp_flex {
    display: flex;
}

/* page height and widths */

.page_hw1 {
    width: 900px;
    max-width: 100%;
    height: 100vh;
}

.page_hw2{
    width: 900px;
    max-width: 100%;
    height: 200vh;
}


/*@media ( orientation : landscape ) {
    
    .page_hw1 {
        height: 125vh;
    }
    
    .page_hw2 {
        height 250vh;
    }
    
} */
/* images */

.tile-img {
    width: 100%;
    max-width: 300px;
}

.titles {
    width: max-content; 
}
/*==========
  TYPOGRAPHY
  ==========*/

body {
    font-family: 'Quattrocento Sans', sans-serif;
    width: 100%;
}

/* heading */

.title-header {
    text-align: center;
    font-weight: 500;
    font-size: 3.8rem;
    line-height: normal;
    color: var(--blu);
    text-shadow: .5px 3px 5px var(--blu);
}

.title-subheader {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 1.8rem;
    line-height: normal;
    text-shadow: 0 1.5px 2px var(--main-text);
}

/* links general */
li a {
    text-decoration: none;
    margin-left : 1em;
}

ul {
    list-style-type: none;
    padding: 0;
}


.contact-link, .btm-navi-link {
    font-size: 1.4rem;
}

/* navi menu (top) */

.navi-list {
    text-align: center;
}

.navi-link {
    font-size: 3rem;
    color: aliceblue;
    transition: color .5s linear .1s;
    -moz-transition: color .5s linear .1s;
    -webkit-transition: color .5s linear .1s;
}

.navi-link:hover {
    color: var(--blu);
}


/*==========
    LAYOUT
  ==========*/

/* menu (top) */

/* navi position fix see global */

.navi {
    top: 0;
    width: 100%;
    height: content;
    margin: 0;
    z-index: 1;
    
}

.navi-list {
    flex-direction: column;
    align-items: center;
    width: max-content;
    margin: 0 auto;
    padding: 0;
}

.navi-link {
    margin: auto;
}

@media (min-width: 600px) {
    
    .navi-list {
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        padding-right: .5em;
    }
    
    .navi-link {
        padding-left: .8em;
    }
}

.navi {
    background: var(--grn);
    box-shadow: 0 1px 4px var(--grn);
    -moz-box-shadow: 0 1px 4px var(--grn);
    -webkit-box-shadow: 0 1px 4px var(--grn);
}


/* <header>*/

/* header, main, footer position relative see global*/

header .titles {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: max-content;
    height: content;
}

@media (orientation : landscape ) {
    
    header .titles {
        top: 55%;
        left: 50vmax;
        transform: translate(-50%, -55%);
    }
}

/* <main> */
.project-section {
    position: inherit;
}

main .titles {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
}

@media (orientation : landscape) {
    
    main .titles {
        top: 27.5%;
        left: 50vmax;
        transform: translate(-50%, -27.5%);
    } 
    
}

/*.page_mod2 {
    position: absolute;
    margin: auto;
}

.center h2 {
    width: max-content;
}


.center {
    position: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    
}

.center .titles {
    position: inherit;
    top: 200%;
    transform: translate(0, 200%);
}

.tile-container {
    position: inherit;
    top: 50%;
    transform:translate(0 , 50%);
    
}

@media (min-width : 600px) {
   
    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
    } 
       
}
    */


/* footer begins */
/* contact */

/*
.center-btm {
    position: absolute;
    top: 
}
*/

/*.center-btm {
    position: absolute;
    top: 300%;
    left: 0%;
    transform: translate(0%, 50%);
    
}


@media (min-width : 600px) {
    .center-btm {
        left: 25%;
        transform: translate(25%, 50%);
      
    }
}

.attributions {
    position: relative;
    top: 100%;
    transform: translate(0, 100%);
    
}

@media ( min-width : 600px ) {
   
    .attributions {
        top: 200%;
        transform: translate(0, 200%);
        
    }
    
}*/


/*.btm-navi {
    position: relative;
    top: 100%;
    left: 75%;
    transform: translate(75, 100%);
}*/